[2017-03-08 08:28] petrsvihlik opened #1 "Make it work with "dotnet new""
More info: https://blogs.msdn.microsoft.com/dotnet/2017/02/07/announcing-net-core-tools-updates-in-vs-2017-rc/

Tooling: https://www.microsoft.com/net/core#windowscmd

We'll be probably able to get rid of the https://github.com/Kentico/cloud-boilerplate-net/blob/master/RenameProject.ps1 file.

Wiki: https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates
Existing templates: http

[2017-03-15 23:54] ondrejsevcik opened #2 "Add CI build"
Probably AppVeyor + badge into README

[2017-03-15 23:57] ondrejsevcik opened #3 "Generate sitemap.xml from Kentico Cloud Delivery endpoint"
Once `/sitemap` delivery endpoint is available, we can start generating sitemap.xml automatically.

[2017-03-16 01:03] ondrejsevcik opened #4 "Add full support for IISUrlRewrite.xml file format"
So far it's not fully implemented in asp.net core 1.1, but it's implemented in asp.net core 1.2 that should be released in Q2/2017 ([source](https://github.com/aspnet/BasicMiddleware/pull/168#issuecomment-286325878)). Once released, we should update boilerplate and add support for fully implemented support for `IISUrlRewrite.xml` file format.

It will allow our users to use rewrite maps (i.g.: sta

[2017-03-17 07:18] ondrejsevcik opened #5 "Improve Homepage example"
- better description of what the project is about
- better example of display templates (will be possible when https://github.com/Kentico/cloud-boilerplate-net/issues/14 is implemented)
- other stuff (any ideas?)

[2017-03-20 13:46] petrsvihlik opened #6 "Simple caching"
Proposed solution:

- create a wrapper around the DeliveryClient that will manage the caching (should implement `IDeliveryClient`)
  - something like https://github.com/emmanueltissera/EmmTi.KenticoCloudConsumer.EnhancedDeliver/blob/bbabd336ceaa9bc4e704a2a05bdc5d8d5cb6d4c1/EmmTi.KenticoCloudConsumer.EnhancedDeliver/Factories/DeliverClientFactory.cs
  - and https://github.com/emmanueltissera/EmmTi.

[2017-03-20 17:41] petrsvihlik commented on #1
we want to get to this list: https://github.com/dotnet/templating/wiki/Available-templates-for-dotnet-new

[2017-03-20 19:39] petrsvihlik opened #8 "Support VSIX Templates"
Inspiration: https://github.com/ASP-NET-MVC-Boilerplate/Templates#dotnet-new

[2017-03-21 13:23] #1 closed

[2017-03-21 15:39] petrsvihlik opened #9 "Add a default stylesheet and a JS file"
- consider adding bower as well...

[2017-03-22 12:43] petrsvihlik commented on #3
We need a reliable way to get url_slugs or complete relative paths of sitemap locations to be able to generate URLs of content items.

[2017-03-22 12:46] petrsvihlik opened #10 "Generate top-level navigation"
We'd like to have a functionality that would generate top-level navigation based on sitemap data in Kentico Cloud.

https://kenticocloud.com/blog/managing-navigation-menus-in-kentico-cloud

Similarly to https://github.com/Kentico/cloud-boilerplate-net/issues/3, the issue is blocked by the capabilities of the [sitemap](https://developer.kenticocloud.com/v1.0/reference#list-sitemap-locations) endpoi

[2017-03-22 12:54] petrsvihlik opened #11 "Default robots.txt"
We'd like to include a default robots.txt file.

[2017-03-22 13:21] petrsvihlik opened #12 "Add Kentico Cloud Personalization SDK"
### Motivation

KC has content personalization capabilities. By either placing a predefined JS code into web pages or by using the Tracking API (where JS cannot be used, e.g. native apps), one can start gathering information about visitors, converting them into contacts (after an email address was submitted via any form) and adding them to visitor segments (based on custom rules). Then, a web app

[2017-03-22 15:26] #9 closed

[2017-03-22 17:00] petrsvihlik opened #14 "Basic routing engine"
The idea is to provide a single controller with a single action method that would facilitate the basic routing.
The action method would fetch content items and channel them to views or, more specifically, to display templates based on their CLR type.
The fetching of the content items would be based on their relative path specified by the only parameter of the action method. The relative path would

[2017-03-23 16:36] petrsvihlik commented on #6
fixed in #15

[2017-03-23 16:36] #6 closed

[2017-03-23 16:41] petrsvihlik opened #16 "Prefix the shortName of the template with "kentico-*""
@KenticoBSoltis @JanLenoch can one of you please pick it up? thx

[2017-03-24 11:14] #16 closed

[2017-03-25 05:14] JanLenoch opened #19 "Allow storing the Preview API key without being actually used in requests"
When the CloudBoilerplateNet.ProjectOptions.KenticoCloudPreviewApiKey property is set, then all requests to the REST endpoints are being done with the Preview API key. The app should allow the developer to configure the Preview API key without forcing the app to actually use it.

[2017-03-27 05:58] andythompy commented on #11
Added a default robots.txt in PR https://github.com/Kentico/cloud-boilerplate-net/pull/24

[2017-03-27 12:47] petrsvihlik commented on #19
I suggest we go back to the DeliveryClientFactory then. We inject it to the controller and let it decide what implementation of `IDeliveryClient` will it return. The sample implementation can be based on query string (e.g. if ?preview=1).

Also, we shouldn't cache preview responses at all. So it should return the basic implementation from the SDK, I guess.

[2017-03-27 14:28] matodanko opened #28 "Best practice for environment setup"
Regarding - **Configs for Dev and Production environment**
What's the recommended approach to setup environment for development, etc. It would be great to know more details about that, what's the best practice and how boilerplate could help in this manner.

[2017-03-27 14:47] petrsvihlik opened #29 "Improve readme"
- [x] setting up caching https://github.com/Kentico/cloud-boilerplate-net/pull/26
- [x] domain redirect https://github.com/Kentico/cloud-boilerplate-net/pull/27
- [x] robots
- [x] sitemap
- [x] link resolver https://github.com/Kentico/cloud-boilerplate-net/pull/25

- [ ] by @matodanko from #28 :
Regarding - **Configs for Dev and Production environment**
What's the recommended approach to setup env

[2017-03-27 17:57] #11 closed

[2017-03-28 13:13] petrsvihlik commented on #28
moved to #29

[2017-03-28 13:13] #28 closed

[2017-03-28 14:26] petrsvihlik commented on #19
Let's wait until we figure out what's the best practice.

[2017-03-29 15:49] petrsvihlik opened #30 "Make the template parametrizable"
### Motivation

The `dotnet new` templates can be made [parametrizable](https://github.com/dotnet/templating/wiki/%22Runnable-Project%22-Templates#symbolstype-required). Supplying a parameter value saves manual work needed when the template has been instantiated.

We can think of at least these two potential parameters:

- [ ] domain parameter - will replace `example.com` in [IISUrlRewrite.xml](ht

[2017-03-29 16:55] #29 closed

[2017-03-29 16:59] petrsvihlik commented on #29
@matodanko the best practices regarding setting up the deployment chain are currently being discussed with tomas, brano, martinh, and others. we've identified some issues that we currently have and we're trying to come up with the best approach. once we develop a best practice, it'll surely get published in the documentation and elsewhere. if you need more intel on this, let me know or call me. (o

[2017-03-30 09:25] petrsvihlik opened #31 "Add code-generation as a pre-build event"
### Motivation

Let's help developers keep their models in-sync with Kentico Kontent content models.

### Design guidelines

Run the [code generator](https://github.com/Kentico/cloud-generators-net) as a ~~pre-build event~~ target.

PoC: https://github.com/Kentico/kontent-boilerplate-net/blob/master/src/content/Kentico.Kontent.Boilerplate/Tools/GenerateModels.ps1

- probably needs to be executed a

[2017-03-30 13:23] JanLenoch opened #32 "Pass the reference to the ICodeFirstModelProvider object to controllers in a centralized way"
Ideally through some DI mechanism.

[2017-03-30 13:51] petrsvihlik commented on #32
wrong repo

[2017-03-30 13:51] #32 closed

[2017-03-30 20:31] matodanko opened #33 "Caching with Kentico Cloud"
Simple fixed-time caching - Could you please provide more details about this functionality?
How it works, when people should use it/should not, what's the best practice for caching in general.

[2017-04-25 09:36] JanLenoch commented on #33
Thanks @matodanko ! I'm not sure if we'll make it in time, given that the web hooks functionality might be on the way. I'll discuss it with @petrsvihlik to see what we can do.

[2017-04-25 12:41] petrsvihlik commented on #33
@JanLenoch please extend [this paragraph](https://github.com/Kentico/cloud-boilerplate-net#how-to-set-up-fixed-time-caching) with a few sentences about how it works inside (what does it do).

[2017-04-25 12:41] JanLenoch commented on #4
The next release is 2.0 (not 1.2), slated for Q3, sadly.

[2017-04-25 12:51] petrsvihlik commented on #4
Yeah..they changed the [roadmap](https://github.com/aspnet/Home/wiki/Roadmap) :(

[2017-05-05 08:56] #33 closed

[2017-05-07 20:07] morrme commented on #2
Looks like this was already done?

[2017-05-08 07:54] petrsvihlik commented on #2
@morrme you're right :)

[2017-05-08 07:54] #2 closed

[2017-05-29 13:02] petrsvihlik opened #35 "Context-aware caching"
Make it possible for the `CachedDeliveryClient` to store different types of content items for different amount of time.
E.g. "header" and "footer" elements should can be cached for half a day, whereas "articles" should be refreshed every hour.

[2017-07-24 08:15] JanLenoch opened #37 "Use webhooks for cache invalidation"
Redesign the caching mechanism so that it is capable of purging select cached content based on HTTP messages sent from Kentico Cloud to the app's web hook endpoint.

PoC implementation: https://github.com/Kentico/cloud-example-webhook-cache-invalidation

TODOs:

- invalidate content items when their underlying content type is altered in Kentico Cloud

[2017-07-24 09:12] petrsvihlik commented on #37
Consider extracting to a separate repo.

[2017-08-15 10:52] petrsvihlik opened #38 "Migrate the template to .NET Core 2.0"

[2017-08-22 12:10] JanLenoch opened #39 "Implement DeliveryOptions"
Use [DeliveryOptions](https://github.com/Kentico/delivery-sdk-net/blob/8edf2cfa032f6ecc59364900c8be0eedd06e8b6e/KenticoCloud.Delivery/Configuration/DeliveryOptions%20.cs) that's available in Delivery SDK. It can be used together with [IOptions](https://docs.microsoft.com/aspnet/core/api/microsoft.extensions.options.ioptions-1) to quickly load environment variables.

Docu: https://github.com/Kentic

[2017-09-13 16:01] petrsvihlik opened #40 "WebHook boilerplate code"
- introduce standard models for [webhook body](https://developer.kenticocloud.com/reference#webhooks-and-notifications)
- add [webhook signature verification](https://developer.kenticocloud.com/reference#webhooks-notification-signing)

[2017-09-21 09:59] jancerman commented on #38
Currently, when you use the latest .NET Core 2.0 SDK, and try to execute `dotnet build`, you get the following error:

[code]

[2017-09-22 11:04] petrsvihlik commented on #19
It's possible with the [`DeliveryOptions.UsePreviewApi`](https://github.com/Kentico/delivery-sdk-net/blob/master/KenticoCloud.Delivery/Configuration/DeliveryOptions%20.cs) now.

[2017-10-02 09:36] #38 closed

[2017-10-02 16:16] JanLenoch commented on #40
The webhook model can be copied from https://github.com/Kentico/cloud-example-webhook-cache-invalidation/blob/master/WebhookCacheInvalidationMvc/Models/KenticoCloudWebhookModel.cs .

The webhook signature verification can be copied from https://github.com/Kentico/cloud-example-webhook-cache-invalidation/blob/master/WebhookCacheInvalidationMvc/Filters/KenticoCloudSignatureActionFilter.cs .

[2017-10-02 16:56] JanLenoch commented on #19
It would be great to set the UsePreviewApi with the help of [IOptions](https://docs.microsoft.com/aspnet/core/api/microsoft.extensions.options.ioptions-1).

[2017-10-02 17:04] petrsvihlik commented on #19
Basically, we goal of this task is to use DI to configure the `DeliveryClient` as described [here](https://github.com/Kentico/delivery-sdk-net/wiki/Using-the-ASP.NET-Core-Configuration-API-and-DI-to-Instantiate-the-DeliveryClient)

[2017-10-02 17:30] JanLenoch commented on #14
An MVC 5 example of this approach was implemented at https://kenticocloud.com/blog/managing-navigation-menus-in-kentico-cloud . In that example, navigation is modeled using ordinary Kentico Cloud content types, not the Sitemap feature.

The accompanying repo is at https://github.com/Kentico/cloud-example-navigation .

It would be awesome to also have an ASP.NET Core MVC variant, probably after the

[2017-10-03 08:29] petrsvihlik commented on #19
will be solved by #39

[2017-10-03 08:29] #19 closed

[2017-10-03 09:24] charithsoori commented on #39
I would like to work on this task.

[2017-10-03 09:56] petrsvihlik commented on #39
great, i'll assign the issue to you once you accept the invitation to the project :)

[2017-10-15 19:35] #39 closed

[2017-10-16 01:19] charithsoori commented on #40
Can I work on this Task ?

[2017-10-16 08:23] JanLenoch commented on #40
Hi Charith, sure, you can go ahead. Just please note there is one todo: The cached content items should also be invalidated everytime their underlying content type changes (in KC). This is something that I haven't implemented in my example.

[2017-11-15 15:41] petrsvihlik opened #44 "Create an aggregating NuGet package for KenticoCloud.* packages"
For smoother developer experience.

[2017-12-12 11:46] JanLenoch opened #45 "Add support for content type snippets"
Kentico Cloud now supports so called [content type snippets](https://help.kenticocloud.com/define-content-structure/structure/using-content-type-snippets). These are sets of content elements that can be added to content types to enrich their structure.

They allow you to add several content elements that are managed in one single place, similarly to how inheritance in object oriented programming w

[2017-12-12 11:46] JanLenoch commented on #45
The "Article" content type no longer needs the "Meta keywords" and "Meta description" elements.

![article meta keywords description deprecated](https://user-images.githubusercontent.com/17413329/33882418-575877e6-df38-11e7-9949-85a33da5f94e.png)

Remove the two corresponding properties of the Article model class.

[2017-12-12 11:54] JanLenoch commented on #45
The "Article" content type no longer needs the "Meta keywords" and "Meta description" elements.

![article meta keywords description deprecated](https://user-images.githubusercontent.com/17413329/33882418-575877e6-df38-11e7-9949-85a33da5f94e.png)

Remove the two corresponding properties of the Article model class.

[2018-01-08 06:19] petrsvihlik opened #48 "Migrate to ASP.NET Core 2.0"
- [x] compare with the standard ASP.NET Core 2.0 template to see if there are any new patterns that we should embrace
- [x] migrate the code

[2018-01-15 19:39] Domitnator commented on #48
I just created a pull request for this one: #50

The changes i did work perfectly on Microsoft Azure and Azure CI.

[2018-02-27 15:42] petrsvihlik commented on #48
@JanLenoch can you please release a new nuget package and close this task? make sure all template configuration files are up to date and that you follow semver. thx

[2018-02-27 19:58] petrsvihlik opened #51 "Enhance readme"
Adjust the part for generating models:

-  the boilerplate expects `<websitename>.Models`, while the utility generates `KenticoCloudModels` by default

[2018-04-16 11:07] JanLenoch opened #52 "Should we use a generic cache manager?"
There are several cache manager libraries in the wild. One of the nice ones is https://github.com/MichaCo/CacheManager . It supports various caching technologies (incl. distributed ones) and is designed to store various types of data in the cache (not only Kentico Cloud data).

Would you welcome such a generic cache manager in our boilerplate?

Pros:
* support for multiple caching technologies
* s

[2018-04-30 10:07] JanLenoch commented on #40
WIP'ed in https://github.com/Kentico/cloud-boilerplate-net/tree/webhook-cache-invalidation

[2018-05-22 11:44] #51 closed

[2018-05-22 11:46] #48 closed

[2018-05-23 08:39] JanLenoch commented on #48
Implemented via #50 .

[2018-05-23 08:41] JanLenoch commented on #51
Docu updated via https://github.com/Kentico/cloud-boilerplate-net/commit/bbe43d8624ecfd9a8b3578d49b1b160c2876c0ea

[2018-06-20 16:03] petrsvihlik commented on #52
@JanLenoch can we close this? now that you implemented https://github.com/Kentico/cloud-boilerplate-net/pull/54

[2018-06-20 16:04] petrsvihlik commented on #37
@JanLenoch can we close this? now that you implemented #54

[2018-06-20 16:10] JanLenoch commented on #52
This question is still quite valid because while we've addressed all the "cons", we e.g. still don't support multiple engines.

[2018-06-20 16:11] petrsvihlik commented on #52
could you then please groom this issue?

[2018-06-20 16:14] JanLenoch commented on #52
Sure, as part of my current grooming activity (only SDK is done ATM).

[2018-06-20 16:17] JanLenoch commented on #37
Absolutely! (Just didn't have time to groom this repo.)

[2018-06-20 16:17] #37 closed

[2018-06-28 13:19] petrsvihlik commented on #38
fixed in #50

[2018-07-22 20:45] mcetkovsky opened #57 "Article's <img> tag is generated with </img> closing even it is a void element"
The `HtmlHelperExtensions.AssetImage` method builds an `img` tag which than renders as

`<img …></img>`

The `img` tag is a [void element](https://www.w3.org/TR/html5/syntax.html#void-elements). So it should be rendered as just `<img>` (HTML5, HTML) or self-closed `<img/>` (HTML5, XHTML).

I suggest to add one of the following lines just before the `return image;` statement to fix this.

`image.Ta

[2018-07-23 06:40] petrsvihlik commented on #57
I'd go with `SelfClosing`

[2018-07-23 06:49] Simply007 commented on #57
As you have mentioned:

I would also vote for self-enclosing since Images on the sample MVC image widget for EMS also use a self-closing tag.

Are you able to submit a pull request? @mcetkovsky

[2018-07-23 08:37] mcetkovsky commented on #57
Fully busy now, hopefully in a month or so.

[2018-07-23 17:52] mcbeev opened #58 "Updating Boilerplate found a new issue, possibly?"
In an early release of the boilerplate I could use the CachedDeliveryClient's `GetItemAsync` method without any parameters:

`var response = await DeliverClient.GetItemAsync<FullWidthContentPage>(PageCodeName);`

I updated to the latest release code as of yesterday, and now I receive an error on that line: "parameter cannot be null". To get around it I was able to pass in an empty List<IQueryParam

[2018-07-24 16:23] Simply007 commented on #58
@JanLenoch do you have information about this change you did in the following commit?
https://github.com/Kentico/cloud-boilerplate-net/commit/23c78ac85d6d01df8c807835f9699e111843ac79#diff-e1ac2c647007aa447031861b0a9d79c0L118

[2018-07-25 16:41] JanLenoch commented on #58
I can reproduce that behavior, but I'll need to understand why such an exception happens when there's a default parameter value in the DeliveryClient.GetItemAsync<T> method (in the SDK).

Thanks @mcbeev for reporting it! I'll take a look at it.

[2018-07-27 13:11] mcbeev commented on #58
Thanks Jan and Ondra, Ill update my project this weekend with the changes.

[2018-07-27 13:18] #58 closed

[2018-07-28 19:33] mcbeev commented on #58
Thanks for the quick patch gentlemen. Every works without passing any params again. Hurray!

[2018-07-30 08:00] mcetkovsky opened #60 "Publish the cache and delivery code as a NuGet package"
The current boilerplate project is used to start a new web site on Kentico (users are instructed to do so). As such, users get the than-current code at the time of creating a new web site project. All fixes and improvements you made after that moment are usually missed and they never reach production for already existing web sites.

The boilerplate project contains two parts with different usage s

[2018-07-31 19:39] petrsvihlik commented on #60
@JanLenoch could you please go through the notes with @mcetkovsky, express your opinion, and groom this request?

[2018-08-01 09:29] JanLenoch commented on #60
Sure!

[2018-08-07 15:28] petrsvihlik opened #63 "Rewrite CachedDeliveryClient so that it follows the decorator pattern"
### Motivation

Currently, the [CachedDeliveryClient](https://github.com/Kentico/cloud-boilerplate-net/blob/master/src/content/CloudBoilerplateNet/Services/CachedDeliveryClient.cs) references `protected DeliveryClient DeliveryClient { get; }` [which](https://github.com/Kentico/cloud-boilerplate-net/blob/master/src/content/CloudBoilerplateNet/Services/CachedDeliveryClient.cs#L21) is wrong. It shoul

[2018-08-13 07:08] petrsvihlik opened #64 "Update the template to ASP.NET Core 2.1"
### Motivation

In spite of being just a dot release, the 2.1 brings [many updates](https://msdn.microsoft.com/magazine/mt829706?MC=WebDev&MC=ASPNET&MC=Vstudio&MC=JavaScript&MC=MobileDev) and [performance improvements](https://blogs.msdn.microsoft.com/dotnet/2018/04/18/performance-improvements-in-net-core-2-1/).

### Design guidelines

Upgrade according to references below. Rewrite code that's dep

[2018-08-24 13:10] JanLenoch commented on #40
Implemented via #54

[2018-08-24 13:10] #40 closed

[2018-08-27 07:42] JanLenoch opened #65 "Spike: Pick the best generic cache library"
### Expected outcome

As it makes sense to support distributed caching along with the existing support of in-memory caching, we'd like to select the most suitable 3rd party caching library to do the job.

Ideally, the library should:

* be able to handle both distributed and in-mem caching
* support strongly-typed cache entries
* be able to set dependencies among cache entries
* allow the develope

[2018-08-27 07:42] JanLenoch commented on #52
Rewritten to #65

[2018-08-27 07:42] #52 closed

[2018-08-27 09:44] mcetkovsky commented on #60
Hi @JanLenoch,

1. I do not see it as a good idea to learn or expect it to learn `dotnet new` to update an existing project. As per my opinion, it is fairly out of the scope of the command (creating a new project). On top of that, it would basically duplicate NuGet, but with some tricky and not in an algorithmically solvable cases (as the project's source code might be heavily modified - the proje

[2018-08-27 09:59] JanLenoch commented on #45
There's support for snippets in our generator. The C# properties of elements originated from snippets are generated in the same way as other properties. There's no point in demoing the usage of snippets in the boilerplate.

[2018-08-27 09:59] #45 closed

[2018-08-27 11:03] #44 closed

[2018-08-27 11:04] petrsvihlik commented on #44
there wasn't any demand for that

[2018-09-03 12:11] JanLenoch commented on #10
There are other plans with the Sitemap feature.

[2018-09-03 12:11] #10 closed

[2018-09-03 12:41] JanLenoch commented on #5
We've heard developers saying that the boilerplate shouldn't contain extensive sample content.

[2018-09-03 12:41] #5 closed

[2018-09-03 13:01] JanLenoch commented on #4
The redirect/rewrite functionality is now supported directly by extension methods of the [rewrite middleware](https://github.com/aspnet/Docs/tree/master/aspnetcore/fundamentals/url-rewriting/sample/).

[2018-09-03 13:01] #4 closed

[2018-09-03 13:02] JanLenoch commented on #3
There are other plans with the Sitemap feature.

[2018-09-03 13:02] #3 closed

[2018-10-01 14:35] amoraitis commented on #63
I could work on it @petrsvihlik

[2018-10-01 14:38] petrsvihlik commented on #63
awesome @amoraitis . I've just sent you an invitation to the project. If you accept it, I'll be able to assign the issue to you.

[2018-10-01 15:27] amoraitis commented on #63
Done✔

[2018-10-02 17:36] Sprot commented on #64
I'l have a go

[2018-10-03 12:41] #57 closed

[2018-10-03 12:47] #64 closed

[2018-10-03 12:59] #63 closed

[2018-10-12 10:47] petrsvihlik commented on #12
as the personalisation api is being deprecated, it doesn't make sense to include it here.

[2018-10-12 10:47] #12 closed

[2018-10-29 09:22] JanLenoch opened #72 "Handle publishing of linked items in caching"
### Motivation

When an unpublished content item is put into a Linked items element or a Rich text element, the CachedDeliveryClient has no means of creating a dummy cache entry of that linked item. Hence no invalidation of the parent content item happens when the linked item gets published afterwards.

### Proposed solution

Find a way of employing the Preview API to make the caching aware of unp

[2018-11-16 21:34] happywisepaul opened #76 "Update Boilerplate to use v8 of SDK"
### Motivation

KenticoCloud Delivery SDK has significant breaking changes in version 8, so code based on this boiler plate cannot be updated to version 8, needing it to stay with version 6.

[2019-04-06 20:57] petrsvihlik commented on #31
not really possible

[2019-10-28 13:22] ewomack2000 opened #79 "Boilerplate support for .NET Core 3.0"
The current Kentico Kontent .NET Core boilerplate only supports .NET Core 2.1. Some of our systems may have limitations for versions of .NET Core under version 3.0 (.NET Core 3.0 added some connectivity functionality for a legacy database system that we use), so an upgrade to .NET Core 3.0 would make using Kentico Kontent simpler in our case. Plus it would keep it in line with our current developm

[2019-11-05 13:51] petrsvihlik commented on #79
hi @ewomack2000 ...yes. we'll be porting our samples to netcore3 and making libraries compatible with it soon.

[2019-11-06 22:08] petrsvihlik commented on #31
could be possible with .NET Core 3 local tools...now that we have the code generator as a .NET tool

[2019-11-06 22:10] petrsvihlik commented on #31
https://andrewlock.net/new-in-net-core-3-local-tools/

[2019-11-07 20:55] petrsvihlik commented on #31
definitely possible, PoC: https://github.com/petrsvihlik/StartBootstrap.Freelancer.Blazor/commit/a9550ea3825c36d6511a6e31c37f697e2a1e6456

[2019-11-08 08:02] #30 closed

[2019-11-08 09:40] #79 closed

[2019-11-08 13:04] petrsvihlik commented on #79
Released: https://github.com/Kentico/kontent-boilerplate-net/releases/tag/4.0.0

[2019-11-11 16:01] xantari opened #82 "Where is BlockElementEditLink HTML Helpers in this project?"
### Motivation

Why is this feature required? What problems does it solve?

Easy block element edit links are in MVC 5 project.

### Proposed solution

An ideal solution for the above problems.

Add all the necessary helpers from the MVC 5 project to the .NET Core 3 project.

### Additional context

Add any other context, screenshots, or reference links about the feature request here.

[2019-11-11 19:04] xantari opened #83 "Missing robots.txt"
### Motivation

Readme.md says it includes a robots.txt, but it does not.

### Proposed solution

Add the robots.txt

### Additional context

[2019-11-11 19:32] xantari commented on #83
Sorry, missed it. Closing.

[2019-11-11 19:32] #83 closed

[2019-11-16 18:51] petrsvihlik commented on #82
Hi @xantari ,
thanks very much for the feedback! I guess we're talking about the [`HtmlHelperExtensions`](https://github.com/Kentico/kontent-sample-app-net/blob/master/DancingGoat/Helpers/Extensions/HtmlHelperExtensions.cs#L190), right?

Could you please provide a little bit more context on:

1. Which methods do you consider worth extracting from the .NET sample site?
2. Do you prefer to have them

[2019-11-16 19:05] xantari commented on #82
@petrsvihlik Thanks for the response back!.

Yes I am talking about those HtmlHelperExtensions in the MVC 5 project.

The current .NET Core 3 boiler plate has a few HTML helpers ported over from the older MVC 5 template such as AssetImage.

I guess I'm just asking for the ones that are not specific to that sample site ported over. In particular the edit feature links are really helpful in that boi

[2019-11-16 19:06] xantari commented on #82
As for a nuget package, not sure about that. I kinda like the code being available to edit. And stripping the CSS classes is fine, perhaps those could be made as parameters to the function?

[2019-11-16 23:14] petrsvihlik commented on #82
We'll discuss it internally and let you know :)

[2019-11-19 18:42] ewomack2000 commented on #82
I copied the code over from the MVC 5 project, but it took a little adjusting. It seems to be working with the Boilerplate.

[2019-11-19 18:50] ewomack2000 opened #84 "SignatureActionFilter throwing "System.NotSupportedException""
### Brief bug description
With an ngrok url setup and the webhook url set to "webhooks/webhooks/index," I put a breakpoint on the Webhooks controller to follow the code - when it arrives at the "request.Body.Position=0" at line 26, it throws a "System.NotSupportedException" - the alternate Seek() method threw the same exception. When I commented out line 26, the system told me to change ReadToEnd(

[2019-11-19 23:07] petrsvihlik commented on #82
hi @ewomack2000 , could you please elaborate a bit more on what issues you had with the configuration? is there something that could be described better at our side?

[2019-11-19 23:09] petrsvihlik commented on #84
@sutrkiller could you please take a look?

[2019-11-22 16:41] #84 closed

[2019-11-22 16:43] petrsvihlik commented on #84
fixed in https://github.com/Kentico/kontent-boilerplate-net/releases/tag/4.0.1

[2019-11-22 17:50] ewomack2000 commented on #82
The issues weren't huge, but they mostly revolved around getting configuration data in places that needed injection. The EditLinkHelper was using pre-Core configuration and it was called in a way that did not evoke the constructor, so I ended up passing the project id as a parameter, but that bypasses the instance call, which is something I still need to fix, but it allowed the edit panel to work.

[2019-11-25 08:16] petrsvihlik commented on #82
Thanks for the details! We'll first port the [sample app](https://github.com/Kentico/kontent-sample-app-net) to .NET Core 3 (along with the `HtmlHelperExtensions`) and then decide how we could extract the helpers so that they can be reused in multiple projects.
Again, I appreciate your feedback - it's very helpful.

[2019-11-27 18:13] xantari opened #87 "CacheManager is missing a clearing function"
### Motivation

When using the CacheManager (Webhook Caching manager or default cachemanager) it uses IMemoryCache.

However, when implementing a "preview" controller that uses the DeliveryClient it will continue to fetch the cached content. In the case of previewing something that is already cached we need to be able to evict the previously viewed page from cache so we can preview the new "draft"

[2019-11-27 18:26] xantari commented on #87
Not sure if this is best practice or not but I did this:

[code]
and changed this to not be readonly:

[code]

[2019-11-28 15:30] petrsvihlik commented on #87
In your case, I'd recommend a different approach - using another instance of the `DeliveryClient` for the `preview` controller/action method. This other instance should not use caching at all. This way, you'd not lose what's already cached for `live` controller/action method.

There are multiple ways to achieve this:

1) Create a [DeliveryClient factory](https://stackoverflow.com/a/39072950/133203

[2019-11-29 09:22] petrsvihlik commented on #87
Please let me know if it's a suitable solution for your scenario. Thanks!

[2019-11-29 14:20] petrsvihlik commented on #31
PoC: https://github.com/Kentico/kontent-boilerplate-net/blob/master/src/content/Kentico.Kontent.Boilerplate/Tools/GenerateModels.ps1

- probably needs to be executed as a `Target` in order for the build to consider the generated files (pre-build event doesn't work for the first build - e.g. https://github.com/petrsvihlik/StartBootstrap.Freelancer.Blazor/commit/a9550ea3825c36d6511a6e31c37f697e2a1e6

[2019-12-18 14:16] happywisepaul commented on #87
@petrsvihlik My scenario is different than xantari 's use case.  In my **dev** environment I plan to subscribe to all workflow related events so when a content variant changes workflow state from **Draft** to **Review** for example, I'm hoping that the cache manager would clear the cache for the given item.  I am about to update my code to use the latest version (4.0.2), I'm currently using 3.0  C

[2019-12-18 15:06] Enngage commented on #87
@happywisepaul, if you subscribe to workflow related events in Kontent application you will get a POST request with that item. By default all `items` present in webhook notification will be invalidated from cache. Feel free to take a look at this implementation - https://github.com/Kentico/kontent-boilerplate-net/blob/master/src/content/Kentico.Kontent.Boilerplate/Areas/WebHooks/Controllers/Webhoo

[2019-12-18 20:31] happywisepaul commented on #87
@Enngage Thank you for responding.  I suspect as much, but just wanted confirmation.

[2019-12-21 02:41] happywisepaul opened #88 "Webhook controller doesn't handle workflow related events"
### Brief bug description

Workflow related events cannot be deserialized into WebhookModel making the webhook controller action Index not executed since the model is null

### Repro steps

Cause the following event to be sent to the webhook:
[code]

### Expected behavior

There should be support for both type of events either by handling it in different actions or by some other means so both even

[2019-12-30 15:54] petrsvihlik commented on #88
@happywisepaul thanks for reporting this!
@sutrkiller can you confirm, please?

[2019-12-30 15:58] petrsvihlik commented on #72
Not sure if this is still the case. We should verify whether this works in the webhook-invalidated cache implementation.

[2020-01-06 12:14] sutrkiller commented on #88
Hi @happywisepaul,

This is actually expected behaviour.
There are two types of webhook notifications designed for different scenarios.
The first one is **notifications about changes to the published content** and the other is **notifications about workflow step changes**.
**Notifications about changes to the published content** are used for example to invalidate the local cache (as demonstrated i

[2020-02-08 22:11] happywisepaul commented on #88
Thank you for the explanation.  Sorry for the late reply.

The motivation is to use workflow notification to invalidate cache in development environment.

I ended up customizing the boilerplate webhook controller by writing my own action method which deserialize the raw POST request into my own model conforming to the workflow related message schema.

[2020-02-08 22:11] #88 closed

[2020-02-25 18:41] xantari opened #90 "Add DistributedCacheManager to project"
### Motivation

Currently the sample provides a CacheManager.cs that uses InMemoryCache.

This is fine for simple scenarios but as most people use mutliple web front ends this necessitates the use of IDistributedCache instead of IMemoryCache.

Please create DistributedCacheManager.cs and include in boiler plate project so we can easily pick our distributed cache manager of choice.

Also update doc

[2020-02-25 19:12] xantari commented on #65
We currently need help with this. We are attempting to make DistributedCacheManager.cs that just uses the IDistributedCache interface microsoft provides. If you build it according to that interface it should be available for any distributed cache provider right?

[2020-02-26 14:33] petrsvihlik commented on #65
It's my understanding that you'll be able to use any package that implements the `IDistributedCache ` interface. According to [MS docs](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-3.1#prerequisites), the interface is implemented by at least three caching libraries: `Microsoft.Extensions.Caching.SqlServer`, `Microsoft.Extensions.Caching.StackExchange

[2020-02-26 14:36] petrsvihlik commented on #90
hi @xantari,
thanks for the idea! We're currently in the process of refactoring the .NET SDK + boilerplate. Soon, we'll be extracting the cache managers from the boilerplate and publishing them as separate reusable NuGet packages.

As I mentioned in #65, I wouldn't like to start with this one before the refactoring is done.

I'll be informing you about the progress in this thread. (The issue might

[2020-02-27 08:43] JanLenoch commented on #35
MemoryCache now works with the concept of arbitrary sizing units. Seems to be the preferred way of pruning the cache (together with fixed or sliding expiration, which has been available for some time). Since ASP.NET Core runtime does not limit cache size based on memory pressure, it is up to us to bring measures of cache pruning (i.e. not just expiration and webhooks but also setting SizeLimit and

[2020-02-28 15:24] petrsvihlik commented on #35
Interesting! But it makes stuff a bit more complex:

[2020-03-02 08:47] petrsvihlik commented on #90
Prerequisite: https://github.com/Kentico/kontent-delivery-sdk-net/pull/191

[2020-03-02 13:06] xantari commented on #90
Thanks for the update!

[2020-03-05 16:01] matus666 opened #91 "Live site not updated after new item's version is published"
### Brief bug description

Publishing a new version of an item and a corresponding webhook is being received with status code 200. This however leaves the live site still showing the old version of that item.
It seems to be a cache issue as it doesn't get updated with the webhook.

### Repro steps

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

The

[2020-03-06 08:46] petrsvihlik commented on #91
@matus666 please provide exact steps to reproduce the issue & test environment details. otherwise, we are unable to help with this issue.

[2020-03-06 08:46] #91 closed

[2020-03-10 10:23] hzik opened #92 "404 on webhook endpoint"
### Brief bug description

According to the webhook debug, new requests sometimes end up with a 404 error. The webhook endpoint is configured on ~/webhooks/webhooks. The 404 status sometimes switches to 200 after some time for already performed webhooks

### Repro steps of customer

1. Setup webhook according to https://github.com/Kentico/kontent-boilerplate-net#how-to-set-up-webhook-enabled-cachi

[2020-03-11 16:04] petrsvihlik commented on #92
Hi @hzik
the error says `Unable to resolve service for type 'NoahMedia.Caching.Webhooks.ICacheManager' while attempting to activate 'NoahMedia.Areas.WebHooks.Controllers.WebhooksController'`

This means that the implementation of the `ICacheManager` has not been registered. In the boilerplate, this is facilitated by the `AddWebhookInvalidatedCachingClient()` method called in the Startup class.

ht

[2020-03-12 13:51] #60 closed

[2020-03-12 13:54] petrsvihlik commented on #60
caching extracted to: https://github.com/Kentico/kontent-delivery-sdk-net/tree/master/Kentico.Kontent.Delivery.Caching

https://www.nuget.org/packages/Kentico.Kontent.Delivery.Caching/13.0.1-beta9

we'll continue with html helpers & signature validation

thanks for the idea @mcetkovsky !

[2020-03-12 14:54] petrsvihlik commented on #65
we'll go with `IDistributedCache`

to be continued in: https://github.com/Kentico/kontent-delivery-sdk-net/issues/196

[2020-03-12 14:54] #65 closed

[2020-03-12 15:20] #92 closed

[2020-03-12 15:30] petrsvihlik opened #93 "Extract the signature middleware to a separate library"
- https://github.com/Kentico/kontent-boilerplate-net/blob/9d67380e37e5ab09b7e29d0fcde0dad4fcdc3f34/src/content/Kentico.Kontent.Boilerplate/Middleware/SignatureMiddleware.cs
- and potentially some other reusable logic for webhooks
  - models

To: https://github.com/Kentico/kontent-aspnetcore

[2020-03-12 15:30] petrsvihlik commented on #60
to be continued in:
- https://github.com/Kentico/kontent-sample-app-net/issues/110
- https://github.com/Kentico/kontent-boilerplate-net/issues/93

[2020-03-12 22:02] #31 closed

[2020-03-12 22:02] petrsvihlik commented on #31
added as a target

[2020-03-18 14:57] LewisParkinson opened #94 "AbstractResponse.HasStaleContent is always false"
Trying to get the caching to work so that when an item is _Published_ or _Unpublished_, the cache is cleared straight away on the Live site.

I have noticed within the **InvalidatingCacheManager.cs** object, there is an if condition checking if the _value_ object is an **AbstractResponse** object and that the _value_ has the '**HasStaleContent**' property set to true (line 54 - attached screenshot

[2020-03-23 15:52] petrsvihlik commented on #94
Hi @LewisParkinson ,
the value of `HasStaleContent` will be `true` only for a short period of time.
To be more specific, when you change a content item, Kontent will send a purge request to the CDN, which will mark the relevant records as `Stale` (`HasStaleContent` will now be returning `true` based on the `X-Stale-Content` [header](https://docs.kontent.ai/tutorials/develop-apps/get-content/best-p

[2020-03-23 15:52] #94 closed

[2020-04-16 14:40] JanLenoch opened #95 "Why was the webhook signature action filter rewritten into middleware?"
### Motivation

[Middleware](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.1) was designed by MS to run for all requests, without the notion of routing or other context of MVC.

Conversely, [action filters](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-3.1) are designed to run for specific controllers/actions.

Given

[2020-04-16 14:47] petrsvihlik commented on #95
Not sure why this decision was made... However, the logic is applied only to selected controllers: https://github.com/Kentico/kontent-boilerplate-net/blob/master/src/content/Kentico.Kontent.Boilerplate/Startup.cs#L76

I'll take a closer look at it tomorrow.

[2020-04-17 14:44] petrsvihlik commented on #95
Normally, I would agree that having a custom action filter or a custom [authorization filter/handler/policy](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/iauthorizationpolicyprovider?view=aspnetcore-3.1) would be a good approach. However, in this case we need to read the whole body of the webhook in order to calculate the signature. Which doesn't sound like short-circuiting

[2020-04-17 14:44] #95 closed

[2020-04-17 15:10] petrsvihlik commented on #93
- remove the dependency on newtonsoft.json: https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-apis/ (JsonProperty -> JsonPropertyName)

[2020-04-17 20:34] #93 closed

[2020-05-15 15:20] LewisParkinson opened #98 "LinkedItems returned as null."
I have recently upgraded a site to the latest version on this boilerplate. After the initial build of the site I noticed that most of the pages are missing sections. This is because the response from the API calls, return any linked item objects as null. When debugging I can see that the correct values are in the JSON response.

I am using the following to get the Project Individual Article:
![ima

[2020-05-18 09:02] petrsvihlik commented on #98
please make sure you register the CustomTypeProvider like this:

`services.AddSingleton<ITypeProvider, CustomTypeProvider>();`

https://github.com/Kentico/kontent-boilerplate-net/blob/master/src/content/Kentico.Kontent.Boilerplate/Startup.cs#L36

there was a [glitch](https://github.com/Kentico/kontent-boilerplate-net/commit/d8803f638bb8a80f2bf0c2c5fbd425fac20d3739#diff-9650d1e07311ba1ce599db13cdd1

[2020-05-18 10:59] LewisParkinson commented on #98
Thanks, @petrsvihlik. This worked.

[2020-05-18 10:59] #98 closed

[2021-01-08 11:49] petrsvihlik commented on #30
an interesting resource:
https://channel9.msdn.com/Shows/Visual-Studio-Toolbox/Troubleshooting-NET-Core-Project-Templates

[2021-04-29 13:31] LewisParkinson opened #101 "Receiving the wrong object from API when getting item by codename."
### Description
I have two objects '**Object1**' and '**Object2**'. '**Object2**' is a child of '**Object1**' (according to the CMS structure) and I have created a custom method that gets the correct URL path of the current page by it's codename  - i.e. "/{object1Url}/{currentPageUrl}" or "/{object1Url}/{object2Url}/{currentPageUrl}".

I first check to see if the current page is of type '**Object1

[2021-05-04 08:47] Simply007 commented on #101
Hello @LewisParkinson,

thanks for bringing this up, but this issue might fit better into the [.NET Delivery SDK repository](https://github.com/Kentico/kontent-delivery-sdk-net).

I have read through the issue and the first thing you could do is to check the response object, get the URL of the request and then try to send the plain GET HTTP request. Then check the Typeprovider, if the mapping of a

[2021-05-05 14:31] LewisParkinson commented on #101
Hi @Simply007,

Thanks for you response.

I have tried both method you have suggested and still get the same result as described above. I have also tried using the `_deliveryClient.GetItemsAsync<Object1>()` request to see how many items are being returned. I only get the 1 item with the codename sent through to the method. It's assigning it to the 'Object1' object every time, when in some cases it

[2021-05-05 16:47] Simply007 commented on #101
Could you share the code of the `TypeProvider` you are using to initialize the `_deliveryClient`?

And could you double-check that the types in registration are correctly set with the ones in the Kontent app?

If the URL does not contain the `type` filter, it might be the root cause -> Type Provider was no able to deduct the type codename base on the type provided in generics.

[2021-05-06 08:21] LewisParkinson commented on #101
@Simply007,

Here is the type provider I'm using:

`public class CustomTypeProvider : ITypeProvider
    {
        private static readonly Dictionary<Type, string> _codenames = new Dictionary<Type, string>
        {
            {typeof(Article), "article"},
            {typeof(GenericContent), "generic_content"},
            {typeof(Home), "home"},
            {typeof(Object1), "object_1"},

[2021-05-06 11:20] Simply007 commented on #101
That's a tough one!
I don't see any obvious issue and I have double-checked the code you provided and also tried to simulate your situation locally and everything seems to work.

I have also created a test that is using a custom link resolver and inside it is using the same instance of the client to load the related data using the [dynamic typing feature I mentioned above](https://github.com/Kenti

[2021-05-06 16:05] LewisParkinson commented on #101
Thanks for your help. Everything I am requesting looks fine. The content type code name is correct and the fields codename I'm search within that content type, is correct. It's just the data being returned isn't content type I requested.

I have amended my code and created a new method, just for the **CustomContentLinkUrlResolver**, that gets the content item by it's codename. But, still getting t

[2021-05-07 07:37] Simply007 commented on #101
If you run this code

[code]

SDK will basically send a request to:

[code]

Then get the returning data and try to map the content to the `Object2` model.

[2021-05-07 09:00] LewisParkinson commented on #101
Ok, thank you for your help. The issue is because the objects are too similar.

[2021-05-07 09:32] Simply007 commented on #101
You should get the items based on  "object_1" item.

Could you share the URL (`ApiResponse.RequestUrl` property) from `secondaryTheme` object?

[2021-05-24 12:47] Simply007 commented on #101
Hi!

This issue has gone quiet. 👻
It’s been a while since the last update here.

If we missed anything on this issue or if you want to keep it open, please reply here.

Thanks for being a part of the Kentico community!

[2021-05-24 12:47] #101 closed

[2021-05-25 09:52] LewisParkinson commented on #101
Hi,

Sorry, I forgot to reply.

The issue was to do with the two objects being too similar, which meant that content for Object2 could be assigned to Object 1. The thing I still can't figure out is why the codename of the content type I request wasn't in the request. But, I have found a work around that involves using the selected Taxonomy term to determine where the item sits instead.

Thanks for

[2021-08-22 10:49] MiroKentico opened #104 "Cannot install boilerplate when building from sources"
### Brief bug description

I tried to install boilerplate from sources (https://github.com/Kentico/kontent-boilerplate-net/wiki/Installation-from-source), but this ended with error, that there are no artifacts.

You can see the problem in attached console output log [boilerplate_from_sources.log](https://github.com/Kentico/kontent-boilerplate-net/files/7027171/boilerplate_from_sources.log)

### Ex